.menu li a:hover{
    text-decoration: underline rgb(255, 217, 0) 2px;
}
.active{
    text-decoration: underline rgb(255, 217, 0) 2px;
}
.slider img{

    width: 100%;
    height: 608px;
    object-fit: cover;

	
}
.post img{
    width: 100%;
    height: 304px;
    object-fit: cover;
}
.hakkimizda p{
    text-align: justify;
}
.hakkimizda h2 {
   
    text-decoration: underline rgb(255, 217, 0) 4px;
}
.info span {
    font-size: 12px;
    
}
.add-teams-matchday img{
 object-fit: contain !important;
}

