.resim{
    height: 550px;
    object-fit: cover;
    object-position: center;
}
.simge1 {
    color: rgb(41, 179, 41);
    font-size: 2.5em;
    padding: 15px;
 }
.text-justify{
     text-align: justify;
 }